version: '3.9'

services:
  single-mysql:
    image: mysql:8.4
    container_name: txlab-single-mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - ./docker/init/single/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -prootpass"]
      interval: 5s
      timeout: 5s
      retries: 10

  core-mysql:
    image: mysql:8.4
    container_name: txlab-core-mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3310:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: txlab_core
    volumes:
      - ./docker/init/dual/core-init.sql:/docker-entrypoint-initdb.d/core-init.sql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -prootpass"]
      interval: 5s
      timeout: 5s
      retries: 10

  audit-mysql:
    image: mysql:8.4
    container_name: txlab-audit-mysql
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3311:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: txlab_audit
    volumes:
      - ./docker/init/dual/audit-init.sql:/docker-entrypoint-initdb.d/audit-init.sql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -prootpass"]
      interval: 5s
      timeout: 5s
      retries: 10
